/* Global Styling */

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : Verdana;
    scroll-behavior : smooth;
}

body {
    background : black;
}

section {
    width : 100%;
    height : 500px;
    padding-top : 70px;
}

/* Navigation Bar Start */

nav {
    padding : 5px;
    background : blue;
    position : fixed;
    width : 100%;
}

.logo {
    color : white;
    display : inline-block;
    padding : 10px 20px;
}

.links-container {
    float : right;
}

.links-container a {
    color : white;
    margin : 10px 30px;
    text-decoration : none;
    line-height : 45px;
    transition : 0.3s;
}

.links-container a:hover {
    color : red;
}

/* Navigation Bar End */


/* Home Start */

.home{
    background : black;
    color : white;
    display : flex;
    align-items : center;
    justify-content : center;
    text-align : center;
}

.home div {
    display: inline-block;
}

.home .logo-1 {
    height : 300px;
    width : 450px;
}

.home h1 {
    font-size : 40px;
}

.home p{
    font-size : 20px;
}

.button {
    padding : 10px 20px;
    background : tomato;
    border-radius : 4px;
    color : white;
    transition : 0.3s;
    text-decoration : none;
}

.button:hover {
    color : red;
    background : transparent;
    outline : 1px solid tomato;
    padding : 10px 25px;
}

/* Home End */


/* About Start */

.about{
    background : black;
    color : white;
    display : flex;
    align-items : center;
    justify-content : center;
    text-align : center;
}

.about div {
    display: inline-block;
    margin : 0 40px;
}

.about p {
    color : white;
    text-align : center;
}

.about h1 {
    font-size : 40px;
}

/* About End */


/* Shop Start */

.shop {
    background : black;
}

.shop p {
    color : white;
    text-align : center;
}

.shop div {
    height : 300px;
    width : 300px;
    outline : 1px solid white;
    margin: 10px 10px;
    display : inline-block;
    align-items : center;
    justify-content : center;
    border-radius : 10px;
}

.uniforms {
    background-image : url("https://i.ibb.co/t3QrMWg/IMG-20230918-174002.jpg");
    background-size : cover;
    backgroun-position : center;
    background-repeat : no-repeat;
    transition : 0.3s;
}

.uniforms:hover {
    transform : translateY(-10px);
}

.schoolsupplies {
    background-image : url("https://i.ibb.co/2vQgg0F/IMG-20230918-174018.jpg");
    background-size : cover;
    backgroun-position : center;
    background-repeat : no-repeat;
    transition : 0.3s;
}

.schoolsupplies:hover {
    transform : translateY(-10px);
}

.idlace {
    background-image : url("https://i.ibb.co/H77f8xn/IMG-20230918-174030.jpg");
    background-size : cover;
    backgroun-position : center;
    background-repeat : no-repeat;
    transition : 0.3s;
}

.idlace:hover {
    transform : translateY(-10px);
}

.shop span {
    color : white;
    display : inline-block;
    margin: 10px 110px;
    font-size : 20px;
}

/* Shop End */


/* Contacts Start */

.contacts {
    background : black;
}

.logo-2 img{
    width : 150px;
    height : 100px;
    margin : 10px 50px;
}

.contacts h1 {
    color : white;
    fonr-size : 40px;
    margin : 15px 0;
}

.contactus a{
    display : block;
    text-decoration : none;
    color : white;
    font-size : 20px;
    margin : 15px 0;
    transition : 0.3s;
}

.contacts a:hover {
    transform : translateX(10px);
    color : red;
}

.learnmore a{
    display : block;
    text-decoration : none;
    color : white;
    font-size : 20px;
    margin : 15px 0;
    transition : 0.3s;
}

.learnmore a:hover {
    transform : translateX(10px);
    color : red;
}

.navlinks a{
    display : block;
    text-decoration : none;
    color : white;
    font-size : 20px;
    margin : 15px 0;
    transition : 0.3s;
}

.navlinks a:hover {
    transform : translateX(10px);
    color : red;
}

.contacts-container div{
    display : inline-block;
    margin : 0 50px;
}

footer {
    color : white;
    text-align : center;
    margin : 30px;
}

/* Contacts End */




/* Register Form */

/* Import Google font - Poppins */


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 300px;
  background: transparent;
  outline: 1px solid white;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.container header {
    color: white;
}

.container .registration{
  display: none;
}

#check:checked ~ .registration{
  display: block;
}

#check:checked ~ .login{
  display: none;
}

#check{
  display: none;
}

.container .form{
  padding: 2rem;
}

.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
 
.form a{
  font-size: 16px;
  color: blur;
  text-decoration: none;
}

.form a:hover{
  text-decoration: underline;
}

.form input.button{
  color: white;
  background: transparent;
  outline: 1px solid black;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover{
  background: white;
  color: black;
}

.signup{
  font-size: 17px;
  text-align: center;
}

.signup span {
    color: white;
}

.signup label{
  color: blue;
  cursor: pointer;
}

.signup label:hover{
  text-decoration: underline;
}